body {
  background-color: black;
  color: white;
  font-family: sans-serif;
}

a {
  color: red;
}

a:visited {
  color: darkred;
}

#cameraPanel {
  position: absolute;
  left: 0%;
  width: 49%;
}

.cameraDetails {
  margin-top: 0;
  margin-bottom: 0;
}

.cameraDetails:first-child {
  margin-top: auto;
}

.cameraDetails:last-child {
  margin-bottom: auto;
}

#controlPanel {
  position: absolute;
  right: 0%;
  width: 49%;
}

#activeCamera {
  width: 100%;
}

#cameraSelector {
  width: 48%;
  float: left;
}

#cameraSelector:first-child {
  margin-top: 0px;
}

#cameraSelector:last-child {
  margin-bottom: 0px;
}

.cameraButton {
  user-select: none;
  border-radius: 10px;
  background-color: grey;
  cursor: pointer;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.cameraButton.selected {
  background-color: red;
}

#cameraSettings {
  width: 48%;
  float: right
}

#cameraOptions > * {
  margin-top: 5px;
  margin-bottom: 5px;
}

#cameraOptions:first-child {
  margin-top: auto;
}

#cameraOptions:last-child {
  margin-bottom: auto;
}